<!--<div class="parent">
    <div class="child">
        <img src="{{project.project_picture}}">
    </div>

    <div class="child">
            <p><b>Name: </b>{{project.project_name}}</p>
            <p><b>Email: </b>{{project.project_email}}</p>
            <p><b>Tel: </b>{{project.project_tel}}</p>
            <p><b>Place: </b>{{project.project_place}}</p>
            <p><b>Type: </b>{{project.project_typ}}</p>
            <p><b>Usage: </b>{{project.project_usage}}</p>
            <p><b>Year: </b>{{project.project_year}}</p>
            <p><b>Main: </b>{{project.project_main}}</p>
            <p><b>Text: </b>{{project.project_text}}</p>
            <p><b>Url: </b>{{project.project_url}}</p>
    </div>
</div>    -->
<div class="container1">
<div class="card">
        
            <img class="card-img-top" src="{{project.project_picture}}">
      
    
            <div class="card-body">
                <p><b>Name: </b>{{project.project_name}}</p>
                <p><b>Email: </b>{{project.project_email}}</p>
                <p><b>Tel: </b>{{project.project_tel}}</p>
                <p><b>Place: </b>{{project.project_place}}</p>
                <p><b>Type: </b>{{project.project_typ}}</p>
                <p><b>Usage: </b>{{project.project_usage}}</p>
                <p><b>Year: </b>{{project.project_year}}</p>
                <p><b>Main: </b>{{project.project_main}}</p>
                <p><b>Text: </b>{{project.project_text}}</p>
                <p><b>Url: </b>{{project.project_url}}</p>
        </div>
    </div>    
    </div>
